<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pass Emploi Connect</title>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

    body {
      background-color: #f7f7ff;
      font-family: Roboto, sans-serif;
      margin-top: 100px;
      margin-bottom: 25px
    }

    .container {
      background-color: #f9ffff;
      width: 60vw;
      text-align: center;
      padding: 5px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(59, 105, 209, 0.3);
    }

    h1 {
      font-weight: 1000;
      color: rgb(59, 105, 209);
      text-align: center;
      font-size: 2.3em;
      padding: 50px;
    }

    .footer-text {
      margin-top: 50px;
      color: rgb(126, 126, 130);
    }

    a {
      color: inherit;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Pass Emploi Connect</h1>
    <p>{{ message }}</p>
    <p class="footer-text"><a href="mailto:support@pass-emploi.beta.gouv.fr?subject=Problème de connexion">Contacter le
        support</a></p>

  </div>

</body>

</html>